body{
    padding: 0;
    margin: 0;
    background:url('fon.png') no-repeat 0 0;
    background-size: cover;
   position: fixed;


}

.seno{
    position: absolute;
    top: 336px;
    left: 818px;
    transition: all 4s ease 0s;
    box-shadow: 0 5px 0px 0px #717a25;
}
.cow, .cowhead{
    position: absolute;
    top: 240px;
    left: 970px;
    width: 300px;
    height: 300px;
}
.cowhead{
    animation: cow 3s infinite 0s linear;
}
@keyframes cow{
    0%{
        transform: rotate(0) translateX(0) translateY(0);
        }
    50%{
        transform: rotate(-20deg) translateX(15px) translateY(-15px);
        }
    100%{
        transform: rotate(0) translateX(0) translateY(0);
        }
}

.melnica{
    position: absolute;
    left: -15px;
    top: 10px;
    animation: melnica 7s infinite 0s linear;
    z-index: 100;
}

@keyframes melnica{
    0%{
        transform: rotate(0deg);
        }
    25%{
        transform: rotate(90deg);
        }
    50%{
        transform: rotate(180deg);
        }
    75%{
        transform: rotate(270deg);
        }
    100%{
        transform: rotate(360deg);
        }
}

.oblako1{
    position: absolute;
    left: -50px;
    z-index: 80;
    animation: oblako 60s infinite 0s linear;

}

@keyframes oblako{
    0%{
        transform: rotate(0deg) translateX(-510px);
        }
    100%{
        transform: rotate(0deg) translateX(1350px);
        }
}

.oblako2{
    position: absolute;
    top: 100px;
    z-index: 79;
    left: 200px;
    transition: all 1.5s ease 0s;
}
.oblako2:hover{
    opacity: 0;
}

.sun{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1150px;
    z-index: 78;
    transition: all 5s ease 0s;
}
.sun:hover{
    transform: rotate(360deg);
}

.cipa{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 450px;
    left: 300px;
    background: url('cipa.png') no-repeat;
    background-position: 0 0;
    transition: all 0s ease 0s;

}
.cipa:hover{
   background-position: -134px 0;  
}
.chiken{
    position: absolute;
    top: 365px;
    left: 420px;
    animation: chiken .7s infinite 0s linear;
    z-index: 120;

}
@keyframes chiken{
    0%{
        transform: translateY(0) skewY(0);
        }
    50%{
        transform: translateY(-40px) skewY(0);
        }
    100%{
        transform: rotate(0) translateY(0) skewY(0);
        }
}

.petuh{
    position: absolute;
    top: 327px;
    left: 60px;
    animation: chiken .7s infinite 0s linear;
    z-index: 121;

}
.ten{
    position: absolute;
    top: 546px;
    left: 110px;   
    animation: ten .7s infinite 0s linear;
    z-index: 110;
 
}
.ten2{
    left:430px;
}
@keyframes ten{
    0%{
        transform: rotate(0) scale(0.8) translateY(0);
        }
    50%{
        transform: rotate(0) scale(0.6) translateY(0px);
        }
    100%{
        transform: rotate(0) scale(0.8) translateY(0);
        }
}

